NEXT_PUBLIC_SUPABASE_URL=https://avazwcnxsnrnbffjczgh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF2YXp3Y254c25ybmJmZmpjemdoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY2NzcyODUsImV4cCI6MjA5MjI1MzI4NX0.ECgH-sK8zpYSDP1AwsDSprFq29AtDkol2nyzc9tPam4